# Amadeus Assignment Solution For Data Scientist Business Intelligence

## First exercise: count the number of lines in Python for each file

In [45]:
import os #Importing OS module to access the file
import csv #Importing CSV module to read the CSV files using python
import glob #Importing glob module to iterate through files

In [46]:
for filepath in glob.iglob(r"/Users/jimharrington/Desktop/amadeus_assignment/data challenge/*.csv"):#Getting the file path
    file = open(filepath) #Opening the file 
    reader = csv.reader(file) #Reading the file using CSV reader
    lines= len(list(reader)) #Length function is used to count the number of lines
    filename = os.path.basename(filepath) #Extracting the filename using basename function in OS module  
    print("File Name:" +" "+ filename +"\n"+ "Total number of line:",lines) #Printing the output

File Name: bookings.csv
Total number of line: 10000011
File Name: searches.csv
Total number of line: 20390199

## Second exercise: top 10 arrival airports in the world in 2013 (using the bookings file)

In [47]:
import pandas as pd

In [360]:
#Reading the booking.csv file using pandas, ^ is used as a delimiter  
df = pd.read_csv(r"/Users/jimharrington/Desktop/amadeus_assignment/data challenge/bookings.csv",error_bad_lines=False,
                sep = '^')

/Users/jimds/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7,8,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [49]:
df.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1.0,2013.0,3.0,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1.0,2013.0,3.0,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1.0,2013.0,3.0,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1.0,2013.0,3.0,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1.0,2013.0,3.0,SYDA82546

In [50]:
#Checking the basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000010 entries, 0 to 10000009
Data columns (total 38 columns):
 #   Column               Dtype
---  ------               -----
 0   act_date             object
 1   source               object
 2   pos_ctry             object
 3   pos_iata             object
 4   pos_oid              object
 5   rloc                 object
 6   cre_date             object
 7   duration             object
 8   distance             object
 9   dep_port             object
 10  dep_city             object
 11  dep_ctry             object
 12  arr_port             object
 13  arr_city             object
 14  arr_ctry             object
 15  lst_port             object
 16  lst_city             object
 17  lst_ctry             object
 18  brd_port             object
 19  brd_city             object
 20  brd_ctry             object
 21  off_port             object
 22  off_city             object
 23  off_ctry             object
 24  mkt_port             object
 25  mkt_city             object
 26  mkt_ctry             object
 27  intl                 object
 28  route                object
 29  carrier              object
 30  bkg_class            object
 31  cab_class            object
 32  brd_time             object
 33  off_time             object
 34  pax                  float64
 35  year                 float64
 36  month                float64
 37  oid                  object
dtypes: float64(3), object(35)
memory usage: 2.8+ GB

In [71]:
#Checking null values 
df.isnull().sum()

act_date               0
source                 0
pos_ctry               0
pos_iata               0
pos_oid                0
rloc                   0
cre_date               0
duration               0
distance               0
dep_port               0
dep_city               0
dep_ctry               0
arr_port               0
arr_city               0
arr_ctry               0
lst_port               0
lst_city               0
lst_ctry               0
brd_port               0
brd_city               1
brd_ctry               0
off_port               0
off_city               0
off_ctry               0
mkt_port               0
mkt_city               0
mkt_ctry               0
intl                   0
route                  0
carrier                0
bkg_class              0
cab_class              0
brd_time               0
off_time               0
pax                    0
year                   0
month                  0
oid                    0
dtype: int64

In [361]:
#Selcting records only from 2013
df=df[df['year']==2013.0]
#Aggregating the pax using Sum function and Groupby is used to group the sum function result on airport level granularity  
top10=df.groupby(['arr_port'])['pax'].sum()
#Sorting the values in descending order 
top10=top10.sort_values(ascending=False)
#Selecting only top 10 airports
top10=top10[:10]
#Printing the results
print("Top 10 Airports In Terms Of Total Number Of Arrivals", top10)

Top 10 Airports In Terms Of Total Number Of Arrivals arr_port
LHR         88809.0
MCO         70930.0
LAX         70530.0
LAS         69630.0
JFK         66270.0
CDG         64490.0
BKK         59460.0
MIA         58150.0
SFO         58000.0
DXB         55590.0
Name: pax, dtype: float64

In [357]:
#Converting the results into a data frame 
df_top10=top10.to_frame()
df_top10=top10_df.reset_index()
#Changing column name from "arr_port" to "Code"
df_top10=top10_df.rename({'arr_port': 'Code'}, axis=1)

In [358]:
#Checking the basic information about the dataset
df_top10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Code    10 non-null     object
 1   pax     10 non-null     float64
dtypes: float64(1), object(1)
memory usage: 288.0+ bytes

In [359]:
#top 10 airports dataframe 
df_top10

       Code      pax
0  LHR       88809.0
1  MCO       70930.0
2  LAX       70530.0
3  LAS       69630.0
4  JFK       66270.0
5  CDG       64490.0
6  BKK       59460.0
7  MIA       58150.0
8  SFO       58000.0
9  DXB       55590.0

#### Bonus point: Get the name of the city or airport corresponding to that airport (programmatically, we suggest having a look at GeoBases in Github)

In [292]:
##Since geobases airport repository has been archived by the owner. It is currently in read-only mode. 
##Hence alternate dataset from openflights.org is used.

In [329]:
## Geo-location data URL 
url="https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports-extended.dat"

In [330]:
##Fetching the data from Github, the header is set to none, and index column is set to 0
df_geo=pd.read_csv(url,error_bad_lines=False,header=None,index_col=0)

In [331]:
###Checking the basic information about the dataset
df_geo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12668 entries, 1 to 14111
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       12668 non-null  object
 1   2       12619 non-null  object
 2   3       12668 non-null  object
 3   4       12668 non-null  object
 4   5       12667 non-null  object
 5   6       12668 non-null  float64
 6   7       12668 non-null  float64
 7   8       12668 non-null  int64
 8   9       12668 non-null  object
 9   10      12668 non-null  object
 10  11      12668 non-null  object
 11  12      12668 non-null  object
 12  13      12668 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.4+ MB

In [364]:
#Printing the column names 
print ("Colunm names : ", df_geo.columns)

Colunm names :  Index(['Airport Name', 'City', 'Country', 'Code'], dtype='object')

In [333]:
#Selecting only necessary columns
df_geo=df_geo.loc[:,[1,2,3,4]]

In [334]:
#Reduced dataset for geolocation
df_geo

,1,2,3,4
0,,,,
1,Goroka Airport,Goroka,Papua New Guinea,GKA
2,Madang Airport,Madang,Papua New Guinea,MAG
3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU
4,Nadzab Airport,Nadzab,Papua New Guinea,LAE
5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM
...,...,...,...,...
14107,Ulan-Ude East Airport,Ulan Ude,Russia,\N
14108,Krechevitsy Air Base,Novgorod,Russia,\N
14109,Desierto de Atacama Airport,Copiapo,Chile,CPO
14110,Melitopol Air Base,Melitopol,Ukraine,\N
14111,Lincoln Train Station LNK,Lincoln,United States,\N

In [335]:
#Renaming the colunms 
df_geo=df_geo.rename({1: 'Airport Name', 2: 'City', 3:'Country', 4:'Code'}, axis=1)

In [337]:
#Checking the basic information about the dataset
df_geo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12668 entries, 1 to 14111
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Airport Name  12668 non-null  object
 1   City          12619 non-null  object
 2   Country       12668 non-null  object
 3   Code          12668 non-null  object
dtypes: object(4)
memory usage: 494.8+ KB

In [336]:
#Checking for null values 
df_geo.isnull().sum()

Airport Name     0
City            49
Country          0
Code             0
dtype: int64

In [338]:
#48 null values identified in city name, null values are dropped 
df_geo=df_geo.dropna()

In [367]:
#Trimming the whitespace present in the code cloumn of top10 dataframe 
df_top10['Code']=df_top10['Code'].str.strip()

In [368]:
##The left joint is implemented on the df_top10 and df_geo using the merge function to retrieve the geo details of the top 10 airports
top10_airports = pd.merge(df_top10, df_geo,how="left", on=["Code", "Code"])

In [374]:
#Final result 
print("Top 10 arrival airports in the world in 2013")
print('\n')
top10_airports

Top 10 arrival airports in the world in 2013

,Code,pax,Airport Name,City,Country
0,LHR,88809.0,London Heathrow Airport,London,United Kingdom
1,MCO,70930.0,Orlando International Airport,Orlando,United States
2,LAX,70530.0,Los Angeles International Airport,Los Angeles,United States
3,LAS,69630.0,McCarran International Airport,Las Vegas,United States
4,JFK,66270.0,John F Kennedy International Airport,New York,United States
5,CDG,64490.0,Charles de Gaulle International Airport,Paris,France
6,BKK,59460.0,Suvarnabhumi Airport,Bangkok,Thailand
7,MIA,58150.0,Miami International Airport,Miami,United States
8,SFO,58000.0,San Francisco International Airport,San Francisco,United States
9,DXB,55590.0,Dubai International Airport,Dubai,United Arab Emirates